.radioset.nobar: ul
	li(ng-repeat='option in slide.options')
		input(
			type='radio'
			name='radio-{{slide.$id}}[]'
			id='radio-{{slide.$id}}-{{$index}}'
			ng-click='fn.result("option", option, slide);fn.next(400)'
		)
		label(
			for='radio-{{slide.$id}}-{{$index}}'
			ng-class='{wrong: option.correct == false, correct: option.correct}'
		)
.text-labels: .text-label(ng-repeat='option in slide.options') {{option.text}}