div(style='display:flex;flex-direction:column;height: 100%;')
	//-include include/nav.pug
	//-include include/tabs.pug

	.resizable-wrapper(style='flex: 1')
		.resizable-section.grey.lighten-3(
			
			r-flex='true' 
			r-directions='["right"]'
			style='flex:1;position:relative;z-index:99;'
		)
			include include/slides.pug

		#form-resizable-section.resizable-section.white(
			
			r-flex='true' 
			r-directions='["left","right"]'
			style='flex:2;position:relative;z-index:99;'
		)
			include include/form.pug

		#preview-resizable-section.resizable-section.grey.lighten-3(
			 
			r-flex='true' 
			r-directions='["left"]' 
			style='flex:2'
		)
			include include/preview.pug

	.grey.lighten-3(ng-show='searching && loading == false' style='position:absolute;top:64;left:0;right:0;bottom:0;z-index:200;')
		div(style='padding-top: 30px')
			.container.center(class='input-field' style='width:40%;')
				i(class='material-icons prefix') search
				input(id='search' type='text' ng-model='searchtext')
				label(for='search') Search
			a(href='#' style='position:absolute; top: 10px; right: 10px;' ng-click='searching = false')
				i.material-icons.large.grey-text close

			.container
				p.flow-text(ng-show='!loading && !searchtext || searchtext == ""') Search for slides by tag. Results will appear here.

				.row(ng-show='searchSlides.length > 0' style='width:100%')
					.col.l3.s12(ng-repeat='slide in searchSlides')
						.slide-card.card-panel.waves-effect.waves-light
							alpaca-slide(slide='slide' single='true')

	.grey.lighten-3(ng-show='collectionSettings' style='position:absolute;top:64;left:0;right:0;bottom:0;z-index:99;')
		include include/settings.pug
						
